@use "../../theme/mixin.scss" as m;

.keyboard {
    @include m.keyboardBtn();
}
.grid{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
app-letters-grid {
    display: flex;
    justify-content: center;
}
