<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="logo" size="large">
        <img src="../../assets/F&G Motus.svg" alt="Logo">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="grid">
    <app-letters-grid *ngFor="let word of grid" [word]="word"></app-letters-grid>
  </div>
  
  <div>
    <button class="keyboard" (click)="deleteLetter()">
      <ion-icon name="backspace-outline"></ion-icon>
    </button>
    <app-btn-keyboard style="width: 45px;" *ngFor="let btn of buttons" [btn]="btn" (letter)="getLetter($event)"></app-btn-keyboard>
    <button class="keyboard" (click)="validWord()">
      Ent
    </button>
  </div>
</ion-content>
