<ion-content class="bg" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="logo" size="large">
        <img src="../../assets/F&G Motus.svg" alt="Logo">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="grid">
    <app-letters-grid *ngFor="let word of grid" [word]="word"></app-letters-grid>
  </div>
  
  <div>
    <button class="keyboard" (click)="deleteLetter()">
      <ion-icon name="backspace-outline"></ion-icon>
    </button>
    <app-btn-keyboard style="width: 45px;" *ngFor="let btn of buttons" [btn]="btn" (letter)="getLetter($event)"></app-btn-keyboard>
    <button id="open-modal" class="keyboard" (click)="validWord()">
      Ent
    </button>
  </div>

  <ion-modal id="modal" #modal trigger="open-modal" *ngIf="isLose" >
    <ng-template>
      <div class="wrapper">
        <h6>{{message}}</h6>
        <div class="block-btn">
          <button href="menu/home">Rejouer</button>
          <!-- garde les tentatives -->
          <button href="menu/home">Quitter</button>
          <button href="menu/stats">Stats</button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
