<ion-content class="bg" [fullscreen]="true">
  <ion-header class="bg container-logo">
    <img src="../../assets/F&G Motus.svg" alt="Logo">
  </ion-header>
  
  <div class="grid">
    <app-letters-grid *ngFor="let word of grid" [word]="word"></app-letters-grid>
  </div>
  
  <div class="grid-keyboard">
    <button class="keyboard" (click)="deleteLetter()">
      <ion-icon name="backspace-outline"></ion-icon>
    </button>
    <app-btn-keyboard style="width: 45px;" *ngFor="let btn of buttons" [btn]="btn" (letter)="getLetter($event)"></app-btn-keyboard>
    <button id="open-modal" class="keyboard" (click)="validWord()">
      Ent
    </button>
  </div>

  <ion-modal id="modal" #modal trigger="open-modal" *ngIf="isLose" >
    <ng-template>
      <div class="wrapper">
        <h6>{{message}}</h6>
        <div class="block-btn">
          <a href="menu/home">Rejouer</a>
          <!-- garde les tentatives -->
          <a href="menu/home">Quitter</a>
          <a href="menu/stats">Stats</a>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
