@use "../../theme/mixin.scss" as m;

.keyboard {
    @include m.keyboardBtn();
    color: var(--ion-color-success-tint);
}
.grid{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
app-letters-grid {
    display: flex;
    justify-content: center;
}

ion-modal#modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#modal ion-icon {
    margin-right: 6px;
    width: 48px;
    height: 48px;
    padding: 4px 0;
    color: #aaaaaa;
}

ion-modal#modal {
    margin-bottom: 10px;
}

.wrapper {
    background: var(--ion-color-dark-shade);
    border: solid 1px var(--ion-color-dark-shade);
}

.modal-btn {
    @include m.modalBtn();
}

.block-btn {
    display: flex;
    justify-content: center;
}
