<!-- <ion-button id="open-custom-dialog" expand="block">Open Custom Dialog</ion-button> -->
<ion-modal id="modal" #modal trigger="open-custom-dialog">
  <ng-template>
    <div class="wrapper"> 
      <!-- *ngIf="state" -->    
      <h6>Gagné 😀</h6>
      <!-- *ngIf="state.win" -->
      <h6>Perdu 😓</h6>
      <!-- *ngIf="!state.win" -->
      <div class="block-btn">
        <button href="menu/home">Rejouer</button>
        <!-- garde les tentatives -->
        <button href="menu/home">Quitter</button>
        <button href="menu/stats">Stats</button>
      </div>
    </div>
  </ng-template>
</ion-modal>
