<section>
    <h6>Statistiques</h6>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="circle">{{storageStats.allGames}}</div>
          <p>Parties jouées</p>
        </ion-col>
        <ion-col>
          <div class="circle">{{storageStats.wonGames}}</div>
          <p>Parties gagnées</p>
        </ion-col>
        <ion-col>
          <div class="circle">{{storageStats.loseGames}}</div>
          <p>Parties perdus</p>
        </ion-col>
        <ion-col>
          <div class="circle">{{storageStats.try}}</div>
          <p>Tentative dernière partie</p>
        </ion-col>
        <ion-col>
          <div class="circle">{{storageStats.tryAverage}}</div>
          <p>Moyenne tentatives</p>
        </ion-col>
      </ion-row>
    </ion-grid>
</section>
<section>
  <h6>Derniers mots joués</h6>
  <div class="words">
    <p class="word" *ngFor="let word of storageStats.playedWords">  {{ word }}  </p>
  </div>
</section>
<section>
  <h6>Mot à trouver</h6>
  <p class="word">
    {{ storageStats.foundWord }}
  </p>
</section>
